In [1]:
# import libraries I need to do task
import pandas as pd
import numpy as np
import os

In [2]:
# check work directory
os.getcwd()

'C:\\Users\\ikech\\OneDrive\\Desktop\\bi'

In [5]:
# read dataframe, identify sheet_names and view data
staffs = pd.read_excel("stafflist.xlsx",sheet_name = ["Employee List","Ref list"])

In [8]:
# merge Employee List and Ref list sheet
staffs = pd.concat(pd.read_excel("stafflist.xlsx",sheet_name=None))
staffs

                    NI Number  Employee Number    Main Staff Group  \
Employee List 0    NI12351397        1005719.0  Medical and Dental
              1    NI12351513        1005835.0  Medical and Dental
              2    NI12351631        1005953.0  Medical and Dental
              3    NI12351407        1005729.0  Medical and Dental
              4    NI12346669        1000991.0  Medical and Dental
...                       ...              ...                 ...
Ref list      457         NaN              NaN                 NaN
              458         NaN              NaN                 NaN
              459         NaN              NaN                 NaN
              460         NaN              NaN                 NaN
              461         NaN              NaN                 NaN

                         Role Occupation Code Area Of Work  WTE  \
Employee List 0    Consultant             001     Medicine  1.0
              1    Consultant             001     Medicine  1.0
              2    Consultant             001     Medicine  1.0
              3    Consultant             001     Medicine  0.0
              4    Consultant             001     Medicine  0.0
...                       ...             ...          ...  ...
Ref list      457         NaN             NaN          NaN  NaN
              458         NaN             NaN          NaN  NaN
              459         NaN             NaN          NaN  NaN
              460         NaN             NaN          NaN  NaN
              461         NaN             NaN          NaN  NaN

                  Employee Category  Pay Scale  Full Time Salary  ...  \
Employee List 0           Full Time        2.0           30000.0  ...
              1           Full Time        2.0           30000.0  ...
              2           Full Time        2.0           30000.0  ...
              3           Part Time        2.0           30000.0  ...
              4           Part Time        2.0           30000.0  ...
...                             ...        ...               ...  ...
Ref list      457               NaN        NaN               NaN  ...
              458               NaN        NaN               NaN  ...
              459               NaN        NaN               NaN  ...
              460               NaN        NaN               NaN  ...
              461               NaN        NaN               NaN  ...

                  Age Band Employee Latest Start Date  \
Employee List 0      26-30                 2023-12-04
              1      31-35                 2023-10-23
              2      26-30                 2023-11-16
              3      26-30                 2022-03-14
              4      36-40                 2020-08-05
...                    ...                        ...
Ref list      457      NaN                        NaT
              458      NaN                        NaT
              459      NaN                        NaT
              460      NaN                        NaT
              461      NaN                        NaT

                                         Org L3 Occ Code & Grade Job role  \
Employee List 0        Responsive Care Division              NaN      NaN
              1     Collaborative Care Division              NaN      NaN
              2        Responsive Care Division              NaN      NaN
              3        Responsive Care Division              NaN      NaN
              4        Responsive Care Division              NaN      NaN
...                                         ...              ...      ...
Ref list      457                           NaN              Z1C      NaN
              458                           NaN              Z1D      NaN
              459                           NaN              Z1E      NaN
              460                           NaN              Z2E      NaN
              461                           NaN              Z2F      NaN

                  Area of work  Grade     Parent field Sub-group  Subcode
Employee List 0            NaN    NaN              NaN       NaN      NaN
              1            NaN    NaN              NaN       NaN      NaN
              2            NaN    NaN              NaN       NaN      NaN
              3            NaN    NaN              NaN       NaN      NaN
              4            NaN    NaN              NaN       NaN      NaN
...                        ...    ...              ...       ...      ...
Ref list      457          NaN    NaN  Any other Staff       NaN  WTE0680
              458          NaN    NaN  Any other Staff       NaN  WTE0680
              459          NaN    NaN  Any other Staff       NaN  WTE0680
              460          NaN    NaN  Any other Staff       NaN  WTE0680
              461          NaN    NaN  Any other Staff       NaN  WTE0680

[5766 rows x 21 columns]

In [36]:
# drop unwanted columns. Now have parent field, subgroup and subcode left joined to employee List table
staffs.drop(columns=['Occ Code & Grade','Job role','Area of work','Grade'], inplace=True)

In [47]:
# check for null. mismatch caused alot of null. Will transform on Power BI to avoid missing important data for analysis
staffs.isnull().sum()

NI Number                      464
Employee Number                462
Main Staff Group               462
Role                           462
Occupation Code                462
Area Of Work                   479
WTE                            462
Employee Category              462
Pay Scale                      462
Full Time Salary               462
Length of Service Band         462
Age Band                       462
Employee Latest Start Date     462
Org L3                         462
Parent field                  5304
Sub-group                     5534
Subcode                       5304
dtype: int64

In [58]:
# check for duplicate values. 413 duplicates. Will clean up using power query
staffs.duplicated().sum()

413

In [73]:
# remove duplicates
staffs.drop_duplicates(inplace=True)

In [74]:
# check for duplicate values. 413 duplicates. Will clean up using power query
staffs.duplicated().sum()

0

In [75]:
staffs

                    NI Number  Employee Number    Main Staff Group  \
Employee List 0    NI12351397        1005719.0  Medical and Dental
              1    NI12351513        1005835.0  Medical and Dental
              2    NI12351631        1005953.0  Medical and Dental
              3    NI12351407        1005729.0  Medical and Dental
              4    NI12346669        1000991.0  Medical and Dental
...                       ...              ...                 ...
Ref list      205         NaN              NaN                 NaN
              207         NaN              NaN                 NaN
              235         NaN              NaN                 NaN
              323         NaN              NaN                 NaN
              455         NaN              NaN                 NaN

                         Role Occupation Code Area Of Work  WTE  \
Employee List 0    Consultant             001     Medicine  1.0
              1    Consultant             001     Medicine  1.0
              2    Consultant             001     Medicine  1.0
              3    Consultant             001     Medicine  0.0
              4    Consultant             001     Medicine  0.0
...                       ...             ...          ...  ...
Ref list      205         NaN             NaN          NaN  NaN
              207         NaN             NaN          NaN  NaN
              235         NaN             NaN          NaN  NaN
              323         NaN             NaN          NaN  NaN
              455         NaN             NaN          NaN  NaN

                  Employee Category  Pay Scale  Full Time Salary  \
Employee List 0           Full Time        2.0           30000.0
              1           Full Time        2.0           30000.0
              2           Full Time        2.0           30000.0
              3           Part Time        2.0           30000.0
              4           Part Time        2.0           30000.0
...                             ...        ...               ...
Ref list      205               NaN        NaN               NaN
              207               NaN        NaN               NaN
              235               NaN        NaN               NaN
              323               NaN        NaN               NaN
              455               NaN        NaN               NaN

                  Length of Service Band Age Band Employee Latest Start Date  \
Employee List 0                  <1 Year    26-30                 2023-12-04
              1                  <1 Year    31-35                 2023-10-23
              2                  <1 Year    26-30                 2023-11-16
              3             2 to 5 Years    26-30                 2022-03-14
              4             2 to 5 Years    36-40                 2020-08-05
...                                  ...      ...                        ...
Ref list      205                    NaN      NaN                        NaT
              207                    NaN      NaN                        NaT
              235                    NaN      NaN                        NaT
              323                    NaN      NaN                        NaT
              455                    NaN      NaN                        NaT

                                         Org L3  \
Employee List 0        Responsive Care Division
              1     Collaborative Care Division
              2        Responsive Care Division
              3        Responsive Care Division
              4        Responsive Care Division
...                                         ...
Ref list      205                           NaN
              207                           NaN
              235                           NaN
              323                           NaN
              455                           NaN

                                                        Parent field  \
Employee List 0                                                  NaN
              1                                                  NaN
              2                                                  NaN
              3                                                  NaN
              4                                                  NaN
...                                                              ...
Ref list      205                        Allied Health Professionals
              207                        Allied Health Professionals
              235  Other Registered Scientific, Therapeutic and T...
              323                  Registered health care scientists
              455                                    Any other Staff

                                             Sub-group   Subcode
Employee List 0                                    NaN       NaN
              1                                    NaN       NaN
              2                                    NaN       NaN
              3                                    NaN       NaN
              4                                    NaN       NaN
...                                                ...       ...
Ref list      205  Operating department practitioners   WTE0290e
              207                          Osteopathy   WTE0290g
              235      Registered Pharmacy Technicians   WTE0450
              323                                  NaN   WTE0490
              455                                  NaN   WTE0680

[5353 rows x 17 columns]

In [76]:
# export file in csv format
staffs.to_csv('Enriched_Employee_List.csv', index=False)